<div class="showMomentsMain">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Beach" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="index" column>
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="5%"> Sr.No </th>
        <mat-cell *matCellDef="let row;">{{row.index}}</mat-cell>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%"> Image </th>
        <td mat-cell *matCellDef="let row">
          <div class="momentImage" [style.background-image]="'url('+ row.image+')' | safe" [imageViewer]="row.image">
            <!-- <img [src]="row.image | safe" [alt]="row.image"> -->
            <mat-icon>fullscreen</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <!-- Tags Column -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="35%"> Tags </th>
        <!-- <td mat-cell *matCellDef="let row"> {{row.tags.join(",")}} </td> -->
        <td mat-cell *matCellDef="let row">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let tag of row.tags" [selectable]="false" [removable]="false">
                {{tag}}
              </mat-chip>
            </mat-chip-list>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions" width="10%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="40%"> Tags </th>
        <td mat-cell *matCellDef="let row">
          <div class="rowActions">
            <button mat-icon-button (click)="deleteMoment(row)"><mat-icon>delete_forever</mat-icon></button>
            <button mat-icon-button (click)="openDialog('editMoment',{oldMoment:row})"><mat-icon>edit</mat-icon></button>
          </div> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
