<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="main-app-name">{{ title }}</h1>
    <span class="autoExpand"></span>
    <button mat-button (click)="logOut()" *ngIf="dataService.isLogged && !mobileQuery.matches">Logout</button>
    <button mat-button (click)="openDialog('login', null)" *ngIf="!dataService.isLogged &&!mobileQuery.matches">
      Login / Register
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 40 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      [fixedTopGap]="mobileQuery.matches ? 40 : 0">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <a mat-list-item (click)="openDialog('login', null)" *ngIf="!dataService.isLogged">Login / Register</a>
        <a mat-list-item (click)="dataService.momentsListView=true" *ngIf="dataService.isLogged">Moment list</a>
        <a mat-list-item (click)="dataService.momentsListView=false" *ngIf="dataService.isLogged">Add new moments</a>

        <a mat-list-item (click)="logOut()" *ngIf="dataService.isLogged">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
        <router-outlet *ngIf="!dataService.loading"></router-outlet>
        <app-wacky-spinner *ngIf="dataService.loading"></app-wacky-spinner>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
