<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches&&dataService.isLogged">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="main-app-name">{{ title }}</h1>
    <span class="autoExpand"></span>
    <button mat-button (click)="logOut()" *ngIf="dataService.isLogged && !mobileQuery.matches">Logout</button>
    <!-- <button mat-button (click)="openDialog('login', null)" *ngIf="!dataService.isLogged &&!mobileQuery.matches">
      Login / Register
    </button> -->
  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 32 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      [fixedTopGap]="mobileQuery.matches ? 32 : 0">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <!-- <a mat-list-item (click)="openDialog('login', null)" *ngIf="!dataService.isLogged">Login / Register</a> -->
        <a mat-list-item (click)="dataService.momentsListView=true" *ngIf="dataService.isLogged">Moment list</a>
        <a mat-list-item (click)="dataService.momentsListView=false" *ngIf="dataService.isLogged">Add new moments</a>

        <a mat-list-item (click)="logOut()" *ngIf="dataService.isLogged">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
        <router-outlet *ngIf="!dataService.loading"></router-outlet>
        <app-wacky-spinner *ngIf="dataService.loading"></app-wacky-spinner>
        <ng-container *ngIf="loginScreen&&!dataService.isLogged">
          <div class="loginView">
            <div class="logoContainer"><div class="logo5d"></div></div>
            <div class="loginForm">
              <form class="login" (ngSubmit)="login()">
                <h1>Sign In</h1>
                <h3>To use the app</h3>
                <div>
                  <div [formGroup]="fgLogin" class="formContainer">
                    <mat-form-field>
                      <mat-label>Email</mat-label>
                      <input id="email" type="text" formControlName="email" placeholder="email" matInput/>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Password</mat-label>
                      <input id="password" [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="password" matInput />
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="formButtons">

                  <button class="submitButton" mat-raised-button type="submit" color="primary" [disabled]="fgLogin.controls.password.invalid
                    ">
                    &nbsp;&nbsp;&nbsp;&nbsp;Sign In&nbsp;&nbsp;&nbsp;&nbsp;
                  </button>
                  <button mat-button (click)="loginScreen=false" color="primary"><span style="color: grey;"> Not a member? </span>Register</button>
                </div>
              </form>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!loginScreen&&!dataService.isLogged">
          <div class="registerView">
            <div class="logoContainer"><div class="logo5d"></div></div>
            <div class="registerForm">
              <form class="register" (ngSubmit)="register()">
                <h1>Sign Up</h1>
                <h3>To be a member</h3>
                <div>
                  <div [formGroup]="fgRegister" class="formContainer">
                    <div class='row'>
                    <div class="column">
                      <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input id="email" matInput type="text" formControlName="email" placeholder="johndoe@somedomain.com" />
                        <mat-error>
                          *Required
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Full Name</mat-label>
                        <input id="fullName" matInput type="text" formControlName="fullName" placeholder="John Doe" />
                        <mat-error>
                          *Required
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>City</mat-label>
                        <input id="city" matInput type="text" formControlName="city" placeholder="Pune" />
                        <mat-error>
                          *Required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div  class="column">
                      <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input id="password" [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="password" matInput />
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="fgRegister.hasError('required', 'password')">
                          * required
                        </mat-error>
                        <mat-error *ngIf="fgRegister.hasError('notSame')">
                          Passwords do not match
                        </mat-error>
                        <mat-error *ngIf="fgRegister.hasError('patternFail')">
                          Must have a lowercase and a uppercase<br /> and mult be atleast 5 characters.
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input id="password" [type]="hideC ? 'password' : 'text'" formControlName="confirmPassword" placeholder="password" matInput />
                        <mat-icon matSuffix (click)="hideC = !hideC">{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="fgRegister.hasError('notSame')">
                          Passwords do not match
                        </mat-error>
                        <mat-error *ngIf="fgRegister.hasError('patternFail')">
                          Must have a lowercase and a uppercase<br /> and mult be atleast 5 characters.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="formButtons">

                  <button class="submitButton" mat-raised-button type="submit" color="primary" [disabled]="fgRegister.controls.password.invalid
                    ">
                    &nbsp;&nbsp;&nbsp;&nbsp;Sign Up&nbsp;&nbsp;&nbsp;&nbsp;
                  </button>
                  <button mat-button (click)="loginScreen=true" color="primary"><span style="color: grey;"> Already a member? </span>Sign In</button>
                </div>
              </form>
            </div>
          </div>
        </ng-container>
      </div>



    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
